/* To hide show elements in mobile view */

.mobile_show
{
	display: none;
}

/*Styling */

.p_container {
	width: 100%;
	.product_container {
		margin-top: 5%;
		text-align: center;
		.product {
			border: 1px solid black;
			padding-bottom: 2%;
			margin-bottom: 2%;
			@media (min-width: 360px) and (max-width: 450px){
				padding: 5%!important;
			}
			.product_title {
				margin-top: 10%;
				margin-bottom: 5%;}
			.product_img {
				width: 100px;
			}
			.product_price {
				margin-top: 10%;
			}
		}
	}

	.checkout_cart {
		display: block;
		margin-top: 5%;
		border: 1px solid black;
		padding: 15px;
		.cart {
			.product_cart {
				margin-top: 5%;
				margin-bottom: 5%;
				padding: 12px;
				border: 1px solid black;
				.product_cart_name {
					text-align: left;
				}
				.cart_remove {
					padding: 1%;
					margin-top: -1%;
					float: right;
				}
			}

		}
	}
}

/*Mobile Breakpoint */

@media screen and (min-device-width:360px) and (max-device-width: 450px) 
 {

	.product
	{
		padding: 5%!important;
			.product_title
	{
		margin-top: 0px!important;
		font-size: 35px;
	}
			.product_img
	{
		width: 150px;
	}
			.product_price {
		font-size: 35px;
	}
	}

	.cart_add
	{
		    font-size: 35px;
	}
	.shopping_cart
	{
		font-size: 35px;
	}
	 .cart_remove
	 {
		     margin-top: 2%!important;
		 	 margin-right: 1%;
	 }
	 .product_cart_name
	 {
		     font-size: 35px;
	 }
	 .mobile_show
	 {
		display: block;
	 }
	 .mobile_hide
	 {
		 display: none;
	 }
	 .remove_text
	 {
		 font-size: 20px;
	 }
}

/*IPAD breakpoint */

@media screen and (min-device-width:768px) and (max-device-width: 1024px) 
 {

	.product
	{
		padding: 5%!important;
			.product_title
	{
		margin-top: 0px!important;
		font-size: 35px;
	}
			.product_img
	{
		width: 150px;
	}
			.product_price {
		font-size: 35px;
	}
	}

	.cart_add
	{
		    font-size: 35px;
	}
	.shopping_cart
	{
		font-size: 35px;
	}
	 .cart_remove
	 {
		     margin-top: 2%!important;
		 	 margin-right: 1%;
	 }
	 .product_cart_name
	 {
		     font-size: 35px;
	 }
	 .mobile_show
	 {
		display: block;
	 }
	 .mobile_hide
	 {
		 display: none;
	 }
	 .remove_text
	 {
		 font-size: 20px;
	 }
}
