.mobile_show {
  display: none;
}
.p_container {
  width: 100%;
}
.p_container .product_container {
  margin-top: 5%;
  text-align: center;
}
.p_container .product_container .product {
  border: 1px solid black;
  padding-bottom: 2%;
  margin-bottom: 2%;
}
@media (min-width: 360px) and (max-width: 450px) {
  .p_container .product_container .product {
    padding: 5%!important;
  }
}
.p_container .product_container .product .product_title {
  margin-top: 10%;
  margin-bottom: 5%;
}
.p_container .product_container .product .product_img {
  width: 100px;
}
.p_container .product_container .product .product_price {
  margin-top: 10%;
}
.p_container .checkout_cart {
  display: block;
  margin-top: 5%;
  border: 1px solid black;
  padding: 15px;
}
.p_container .checkout_cart .cart .product_cart {
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 12px;
  border: 1px solid black;
}
.p_container .checkout_cart .cart .product_cart .product_cart_name {
  text-align: left;
}
.p_container .checkout_cart .cart .product_cart .cart_remove {
  padding: 1%;
  margin-top: -1%;
  float: right;
}
@media screen and (min-device-width: 360px) and (max-device-width: 450px) {
  .product {
    padding: 5%!important;
  }
  .product .product_title {
    margin-top: 0px!important;
    font-size: 35px;
  }
  .product .product_img {
    width: 150px;
  }
  .product .product_price {
    font-size: 35px;
  }
  .cart_add {
    font-size: 35px;
  }
  .shopping_cart {
    font-size: 35px;
  }
  .cart_remove {
    margin-top: 2%!important;
    margin-right: 1%;
  }
  .product_cart_name {
    font-size: 35px;
  }
  .mobile_show {
    display: block;
  }
  .mobile_hide {
    display: none;
  }
  .remove_text {
    font-size: 20px;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .product {
    padding: 5%!important;
  }
  .product .product_title {
    margin-top: 0px!important;
    font-size: 35px;
  }
  .product .product_img {
    width: 150px;
  }
  .product .product_price {
    font-size: 35px;
  }
  .cart_add {
    font-size: 35px;
  }
  .shopping_cart {
    font-size: 35px;
  }
  .cart_remove {
    margin-top: 2%!important;
    margin-right: 1%;
  }
  .product_cart_name {
    font-size: 35px;
  }
  .mobile_show {
    display: block;
  }
  .mobile_hide {
    display: none;
  }
  .remove_text {
    font-size: 20px;
  }
}
